@charset "UTF-8";
$font-path:"../../assets/fonts/icon-font";

// global setting
@import "../../assets/scss/bourbon/bourbon"; 
@import "../../assets/scss/site/setting"; // varaibles and settings

// frameworks
@import "../../assets/scss/normalize/normalize"; // css reset
// @import "../../assets/scss/font-awesome/font-awesome"; // icon font
@import "../../assets/scss/site/icon-font"; // icon font
// @import "../../assets/scss/OwlCarousel/OwlCarousel"; // slidershow
// @import "../../assets/scss/animate/animate";
@import "../../assets/scss/pure/pure";  // template
@import "../../assets/scss/site/module";  // module


// css goes here
// common
body { overflow-x: hidden;}
h3 {margin-top: 30px;}
ul.styled li {
  padding: .5em 0;
}
a {
  text-decoration: none;
  color: $text-color;
  &:hover { text-decoration: underline; }
}
.topbar {
  margin-bottom: 30px;
  &-col {
    @include col(1,6);
    text-align: center;
    @include rem(font-size, 12);
    text-transform: uppercase;
    a {
      display: block;
      padding: 10px 0;
      color: #fff;
      background-color: #272822;
      @extend %global-transition;
      @extend %hover-tdn;
    }
    &.active a, a:hover {
      color: #F92672;
      background-color: #fff;
    }
  }
}
.test-wrap { @include fixed-col(left, 140px, 10px); }
.fixed-sidebar { position: fixed; 
  margin-top: 100px;
  @include rem(font-size, 13);
  li { margin-bottom: 1px; }
  a {
    padding: 10px 10px;
    line-height: 1.3;
    color: #212121;
    display: block;
    text-decoration: none;
    background-color: #f2f2f2;
    &:hover { background-color: darken(#f2f2f2, 5%); }
  }
}
// buttons
.purple-button { @include button(#a80051); }
.thin-button { @include button(#333, $thin:true); }
.simple-button { @include button($color:false, $simple:true); }
.big-button { @include button; font-size: 1.5em; }
.small-button { @include button; font-size: .8em; }
// form
.my-input {
  padding: 1.6em 2em;
}
// responsive
.content {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}
.my-column-left { @include col(1600, 4000); }
.my-column-right { @include col(2400, 4000); }
@media screen and (min-width: 640px) {
  .my-column-2-left { @include col(1, 2); }
  .my-column-2-right { @include col(1, 2); }
}
@media screen and (min-width: 1024px) {
  .my-column-2-left { @include col(1, 3); }
  .my-column-2-right { @include col(2, 3); }
}
.my-column { @include col(2, $collapse:true); }
@media screen and (min-width: 640px) {
  .myblock { @include block(2);}
}
@media screen and (min-width: 1024px) {
  .myblock { @include block(4);}
}
@media screen and (min-width: 640px) {
  .my-column-centered { 
    @include col(2, 3, $centered:true);
  }
}
.my-col-offset { 
  @include col(3); 
  @include col-offset(9);
}
.my-col-push-left { 
  @include col(3); 
  @include col-push(9);
}
.my-col-pull-right { 
  @include col(9);
  @include col-pull(3);
}
// module
@media screen and (min-width: 640px){
  .my-wrap-1 { @include fixed-col(right, 300px, 20px);}
  .my-wrap-2 { @include fixed-col3(200px, 300px, 20px);}
}
#{am(sidebar)} {
  background-color: #022756;
  a {
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #fff;
    @extend %global-transition;
    &:hover {
      text-decoration: none;
      background-color: rgba(255,255,255,.2);
    }
  }
}
#{am(menu-close)} {
  @include position(absolute, 0px 0px null null);
  @include size(50);
  line-height: 50px;
  background-color: lighten(#022756, 10%);
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  display: block;
  cursor: pointer;
}
#{am(menu-close, styled)}{
  background: none;
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
