@charset "UTF-8";
$font-path:"../../assets/fonts/icon-font";
$generate-nav-css: (
  move: true,
  translate: true,
  reveal: true,
  rotate: true,
  scale: true,

  left: true,
  right: true,
  top: true,
  bottom: true,

  subnav: true,
  styled-icon: true
) !default;

// global setting
@import "../../assets/scss/bourbon/bourbon"; 
@import "../../assets/scss/site/site-variables"; 
@import "../../assets/scss/site/site-placeholders";

// frameworks
@import "../../assets/scss/normalize/normalize"; // css reset
// @import "../../assets/scss/font-awesome/font-awesome"; // icon font
// @import "../../assets/scss/OwlCarousel/OwlCarousel"; // slidershow
// @import "../../assets/scss/animate/animate";
@import "../../assets/scss/pure/pure";  // template


// css goes here
// common
body { overflow-x: hidden;}
h3 {margin-top: 30px;}
ul.styled li {
  padding: .5em 0;
}
a {
  text-decoration: none;
  color: $text-color;
  &:hover { text-decoration: underline; }
}
.content {
  background-color: #f2f2f2;
  padding: 10px 0;
  margin-bottom: 10px;
  #{am(row)} #{am(row)} & { 
    background-color: #dbdbdb; 
    margin-bottom: 0;
  }
}
.topbar {
  margin-bottom: 30px;
  &-col {
    @include col(1,6);
    text-align: center;
    @include rem(font-size, 12);
    text-transform: uppercase;
    a {
      display: block;
      padding: 10px 0;
      color: #fff;
      background-color: #272822;
      @extend %global-transition;
      @extend %hover-tdn;
    }
    &.active a, a:hover {
      color: #F92672;
      background-color: #fff;
    }
  }
}
.test-wrap { @include fixed-col(left, 140px, 10px); }
.fixed-sidebar { position: fixed; 
  margin-top: 100px;
  @include rem(font-size, 13);
  li { margin-bottom: 1px; }
  a {
    padding: 10px 10px;
    line-height: 1.3;
    color: #212121;
    display: block;
    text-decoration: none;
    background-color: #f2f2f2;
    &:hover { background-color: darken(#f2f2f2, 5%); }
  }
}
// buttons
.purple-button { @include button(#a80051); }
.thin-button { @include button(#333, $thin:true); }
.simple-button { @include button($color:false, $simple:true); }
.big-button { @include button; font-size: 1.5em; }
.small-button { @include button; font-size: .8em; }
// form
.my-input {
  padding: 1.6em 2em;
}
// grid
.my-row { @include row(960px, 20px);}
.my-column-1 { @include col(3, 11, 20px); }
.my-column-2 { @include col(8, 11, 20px); }
.pull-left,
.push-right { @include col(12, 12, 20px); }
@media screen and (min-width: 64em) {
  .push-right { @include col(9, 12, $push: 3); }
  .pull-left { @include col(3, 12, $pull: 9); }
}
@media screen and (min-width: 640px) {
  .myblock { @include block(2, 60px);}
}
@media screen and (min-width: 1024px) {
  .myblock { @include block(4);}
}
@media screen and (min-width: 640px){
  .my-wrap-1 { @include fixed-col(right, 300px, 20px);}
  .my-wrap-2 { @include fixed-col3(200px, 300px, 20px);}
}

// module
#{am(nav)} {
  text-align: center;
  #{am(nav-close)} {
    padding: 10px;
  }
  a {
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #fff;
    @extend %global-transition;
    &:hover {
      text-decoration: none;
      background-color: rgba(255,255,255,.2);
    }
  }
}
.my-dropdown-menu-1 { 
  @extend %dropdown-menu; 
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  display: inline-block !important;
  position: static;
}
.my-dropdown-menu-2 { 
  @include dropdown-menu(#0c43cd,false,false);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  display: inline-block !important;
  position: static;
}

// visibility
.visible0 { @include visible(0, 600); }
.visible1 { @include visible(600, 1024); }
.visible2 { @include visible(600); }
.hidden0 { @include hidden(0, 600); }
.hidden1 { @include hidden(600, 1024); }
.hidden2 { @include hidden(600); }