//function
@import "function";

/* reset style */
/* HTML5 display definitions */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,button,select,p,blockquote,th,td,hr,nav,header,footer,section,article,aside,hgroup,audio,canvas,video,details,summary,figcaption,figure,command,datalist,embed,keygen,mark,meter,output,progress,rp,rt,ruby,source,time { margin:0; padding:0; }
html { font-size: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,main { display: block; }
audio,canvas,video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]),[hidden] { display: none; }
*,*:before,*:after {-moz-box-sizing: border-box; }
ul,ol,dl{list-style:none; }
input:-moz-placeholder,::-webkit-input-placeholder { color: #999; }
::-moz-selection,::selection { background: #666; color: #fff; text-shadow: none; }

/* Typography */
body { font-family: $base_ff; line-height: 1.5; color: $base_color; min-width: 320px;}
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre,code,kbd,samp {font-family: Monaco, Courier New, monospace; _font-family: 'courier new', monospace; font-size: 14px; font-size: 1.4rem; line-height: 1.5em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub,sup { position: relative; font-size: 12px; font-size: 1.2rem; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; max-width: 100%; }
svg:not(:root) { overflow: hidden; }

/* Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
input, button, select, textarea {
	font-family: inherit; font-size: inherit; line-height: normal; vertical-align: top; *vertical-align: top;
	&:hover, &:focus {outline: none; }
	&[disabled]{cursor: default; }
}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid { }
input:invalid, textarea:invalid { }

/* Tables */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: middle; }

/* clearfix */
.clearfix {*zoom: 1;
	&:before,&:after {content: " "; display: table; height: 0; visibility: hidden; }
	&:after { clear: both;}
}