// ======= am-nav ======= //
$generate-nav-css: (
  move: true,
  translate: true,
  reveal: true,
  rotate: true,
  scale: true,

  left: true,
  right: true,
  top: true,
  bottom: true,

  subnav: true,
  styled-icon: true
) !default;

$am-nav-bg: #000 !default;
$am-nav-width: 200px !default;
$am-nav-fontsize: 14 !default;
$am-nav-a-padding: .9em 1.6em !default;
$am-cover-bg: rgba(0,0,0,.35) !default;

$nav-icon-color: #333 !default;
$nav-icon-active-color: #fd5619 !default;
$nav-icon-bg-color: #fff !default;
$nav-icon-inverted: false !default;

// *** normal style ***
%a-hover-style {
  background-color: analogous($am-nav-bg, 15%);
}
%mb-nav-width {
  width: $am-nav-width;
  overflow-x: hidden;
  overflow-y: auto;
}
%mb-nav-common {
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: complementary($am-nav-bg);
  background: $am-nav-bg;
  height: 100%;
  @if $z-index { z-index: nth($z-index, 1); } @else { z-index: 300; }
  @extend %global-transition;
  li { @include rem(font-size, $am-nav-fontsize); }
  a { 
    display: block;
    padding: $am-nav-a-padding;
    color: complementary($am-nav-bg);
    @extend %hover-tdn;
    @extend %global-transition;
    &:hover { @extend %a-hover-style; }
  }
  .active > a,
  .current > a { background-color: analogous($am-nav-bg, 23%); }
}
%mb-nav-zindex-sm {
  @if $z-index { z-index: nth($z-index, 3); } @else { z-index: 100; }
}
@mixin mb-nav (
  $move: false,
  $translate: false,
  $reveal: false,
  $rotate: false,
  $scale: false,
  $direction: false,
  $common: true,
  $styled-icon: false
){
  @if $common { @extend %mb-nav-common; }
  @if $move {
    @if $direction == left {

    }
  }
  @if $translate {
    @if $direction == left {

    }
  }
  @if $reveal {
    @extend %mb-nav-zindex-sm;
    @if $direction == left {

    }
  }
  @if $rotate {
    @extend %mb-nav-zindex-sm;
    @if $direction == left {
      @include transform(perspective(1000px) rotateY(90deg));
    }
    @if $direction == right {
      @include transform(perspective(1000px) rotateY(-90deg));
    }
    @if $direction == top {
      @include transform(perspective(1000px) rotateX(-90deg));
    }
    @if $direction == bottom {
      @include transform(perspective(1000px) rotateX(90deg));
    }
  }
  @if $scale {
    .no-csstransforms & { 
      @extend %mb-nav-width; 
      @extend %mb-nav-zindex-sm;
    }
    @if $direction == left {

    }
  }
  @if $direction == left or $direction == right {
    @extend %mb-nav-width;
    #{$direction}: 0;
    @if $move or $translate { margin-#{$direction}: -$am-nav-width; }
    @if $rotate { @include transform-origin(#{$direction} center); }
    @if $scale { 
      width: 70%;
      background: none;
      @include transform-origin(#{$direction} top); 
      @include transform(scale(0)); 
      @include mq-min(450) { width: 50%; }
      @include mq-min(640) { width: 40%; }
      @include mq-min(800) { width: 30%; }
      @include mq-min(1024) { width: 25%; }
      @include mq-min(1200) { width: 20%; }
    }
  }
  @if $direction == top or $direction == bottom {
    @if $rotate { 
      width: 100%;
      @include transform-origin(center #{$direction});
      .no-csstransforms3d & { display: none; } 
    }
  }
}

%mb-content-common {
  @extend %global-transition;
  position: relative;
}
%mb-content-reveal {
  min-width: 320px;
  background-color: #fff;
  @if $z-index { z-index: nth($z-index, 2); } @else { z-index: 200; }
}
@mixin mb-content(
  $translate: false,
  $reveal: false,
  $rotate: false,
  $scale: false,
  $direction: false,
  $common: true
){
  @if $common { @extend %mb-content-common; }
  @if $translate {}
  @if $reveal {
    @extend %mb-content-reveal;
  }
  @if $rotate {
    @extend %mb-content-reveal;
  }
  @if $scale {
    .no-csstransforms3d & { @extend %mb-content-reveal; }
    @if $direction == left or $direction == right {
      background-color: #fff;
      @include transform(scaleX(1));
    }
    @if $direction == left {
      @include transform-origin(right top);
    }
    @if $direction == right {
      @include transform-origin(left top);
    }
  }
  @if $direction == left or $direction == right {
    #{$direction}: 0;
  }
}

@mixin mb-content-cover(
  $cover-bg:$am-cover-bg
) {
  display: block;
  @include size(100%);
  @include position(absolute, null null 0px 0px);
  z-index: -1;
  @extend %global-transition;
  .move-show &,
  .translate-left &,
  .translate-right &,
  .reveal-left &,
  .reveal-right &,
  .rotate-left &,
  .rotate-right &,
  .scale-left &,
  .scale-right &,
  .scale-right & {
    background-color: $cover-bg;
    @if $z-index { z-index: nth($z-index, 2); } @else { z-index: 200; }
    cursor: pointer;
  }
}

@mixin mb-subnav() {
  width: 100%;
  @include position(absolute, 0px null 0px 100%);
  background-color: $am-nav-bg;
  -webkit-transition: left .3s $global-bezier 0s;
  transition: left .3s $global-bezier 0s;  
}
@mixin mb-nav-back (){ 
  padding: $am-nav-a-padding;
  cursor: pointer;
  @extend %a-hover-style; 
}
@mixin mobile-icon-haschild (){ 
  display: inline-block;
  padding: $am-nav-a-padding;
  padding-left: 1em;
  padding-right: 1em;
  float: right;
  cursor: pointer;
 &:hover { @extend %a-hover-style; } 
}

%nav-icon-line {
  display: block;
  position: absolute;
  top: 15px;
  @include size(18 2);
  background-color: $nav-icon-color;
  @extend %global-transition;
}
%nav-icon-styled {
  display: inline-block;
  position: relative;
  padding: 10px 9px;
  @include size(18 12);
  background-color: $nav-icon-bg-color;
  box-sizing: content-box;
  cursor: pointer;
  @extend %global-transition;
  &:hover {
    span, &:before, &:after { background-color: $nav-icon-active-color;}
  }
  span {@extend %nav-icon-line; }
  &:before,
  &:after {content: ''; @extend %nav-icon-line; }
  &:before {margin-top: -5px; }
  &:after {margin-top: 5px; }
}
%nav-icon-close {
  span { display: none; }
  &:before,
  &:after { 
    width: 20px; 
    margin-left: -1px; 
    margin-top: 0; 
    -webkit-transform-origin: center center; 
    -ms-transform-origin: center center; 
    transform-origin: center center; 
    .no-csstransforms & { display: none; }
  }
  &:before { 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
  }
  &:after { 
    -webkit-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
    transform: rotate(-45deg); 
  }
  .no-csstransforms & { 
    @if $nav-icon-inverted {background: url('data:image/gif;base64,R0lGODlhEAAQAPAAAP///wAAACH5BAEAAAEALAAAAAAQABAAAAIoDIKpeOC7XHvQUHviZVtWj1WclIlYaZLmCH5Uq8BwqJVz4t3xg4pHAQA7') center center no-repeat; }
    @else {background: url('data:image/gif;base64,R0lGODlhEAAQAPEAAAAAABEREQAAAAAAACH5BAEAAAIALAAAAAAQABAAAAIpFISpeOC7XHvQUHviZVtWj1WclIlYaUqBOYIf5SpxHGolnXi4/KDiUQAAOw==') center center no-repeat; }
  }
}
@mixin nav-icon (
  $styled: true,
  $close: false
){
  cursor: pointer;
  @if $styled { @extend %nav-icon-styled; }
  @if $close { @extend %nav-icon-close; }
}
%mb-nav-icon-close { @include nav-icon($styled:false, $close:true); }
@mixin mb-nav-scale-transform {
  @include transform(scaleX(.3));
  @include mq-min(450) { @include transform(scaleX(.5)); }
  @include mq-min(640) { @include transform(scaleX(.6)); }
  @include mq-min(800) { @include transform(scaleX(.7)); }
  @include mq-min(1024) { @include transform(scaleX(.75)); }
  @include mq-min(1200) { @include transform(scaleX(.8)); }
}

@if map-get($generate-nav-css, left) or 
    map-get($generate-nav-css, right) or 
    map-get($generate-nav-css, top) or 
    map-get($generate-nav-css, bottom) {
  #{am(nav)} { @include mb-nav(); }
  #{am(content)} { @include mb-content; }
  #{am(nav-close)} { cursor: pointer; }
  #{am(content-cover)} { @include mb-content-cover; }
}
@if map-get($generate-nav-css, subnav) {
  #{am(subnav)} { @include mb-subnav; }
  #{am(navback)} { @include mb-nav-back; }
  #{am(icon-haschild)} { @include mobile-icon-haschild; }
  .am-subnav-show { left: 0; }
}
@if map-get($generate-nav-css, styled-icon) {
  #{am(nav-icon)},
  #{am(nav-icon-close)} { @include nav-icon($styled:false); }
  #{am(nav-icon, styled)},
  #{am(nav-icon-close, styled)} { @include nav-icon(); }
  #{am(nav-icon-close, styled)} { @extend %mb-nav-icon-close; }
}

@if map-get($generate-nav-css, left) {
  @if map-get($generate-nav-css, move) {
    #{am(nav,move-left)} { @include mb-nav($common:false, $move:true, $direction:left ); }
    .move-show [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
  }
  @if map-get($generate-nav-css, translate) {
    #{am(nav,translate-left)} { @include mb-nav($common:false, $translate:true, $direction:left ); }
    #{am(content,translate-left)} { @include mb-content($common:false, $translate:true, $direction:left ); }
    .translate-left { 
      left: $am-nav-width; 
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
    }
  }
  @if map-get($generate-nav-css, reveal) {
    #{am(nav,reveal-left)} { @include mb-nav($common:false, $reveal:true, $direction:left ); }
    #{am(content,reveal-left)} { @include mb-content($common:false, $reveal:true, $direction:left ); }
    .reveal-left { 
      left: $am-nav-width; 
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
    }
  }
  @if map-get($generate-nav-css, rotate) {
    #{am(nav,rotate-left)} { @include mb-nav($common:false, $rotate:true, $direction:left ); }
    #{am(content,rotate-left)} { @include mb-content($common:false, $rotate:true, $direction:left ); }
    .nav-rotate-left { @include transform(perspective(1000px) rotateY(0deg)); }
    .rotate-left { 
      left: $am-nav-width; 
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
    }
  }
  @if map-get($generate-nav-css, scale) {
    #{am(nav,scale-left)} { @include mb-nav($common:false, $scale:true, $direction:left ); }
    #{am(content,scale-left)} { @include mb-content($common:false, $scale:true, $direction:left ); }
    .nav-scale-left { @include transform(scale(1)); }
    .scale-left { 
      @include mb-nav-scale-transform; 
      .no-csstransforms & { left: $am-nav-width; }
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
    }
  }
}

@if map-get($generate-nav-css, right) {
  @if map-get($generate-nav-css, move) {
    #{am(nav,move-right)} { @include mb-nav($common:false, $move:true, $direction:right ); }
    .move-show [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
  }
  @if map-get($generate-nav-css, translate) {
    #{am(nav,translate-right)} { @include mb-nav($common:false, $translate:true, $direction:right ); }
    #{am(content,translate-right)} { @include mb-content($common:false, $translate:true, $direction:right ); }
    .translate-right { 
      right: $am-nav-width; 
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
    }
  }
  @if map-get($generate-nav-css, reveal) {
    #{am(nav,reveal-right)} { @include mb-nav($common:false, $reveal:true, $direction:right ); }
    #{am(content,reveal-right)} { @include mb-content($common:false, $reveal:true, $direction:right ); }
    .reveal-right { 
      right: $am-nav-width; 
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
    }
  }
  @if map-get($generate-nav-css, rotate) {
    #{am(nav,rotate-right)} { @include mb-nav($common:false, $rotate:true, $direction:right ); }
    #{am(content,rotate-right)} { @include mb-content($common:false, $rotate:true, $direction:right ); }
    .nav-rotate-right { @include transform(perspective(1000px) rotateY(0deg)); }
    .rotate-right { 
      right: $am-nav-width; 
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
    }
  }
  @if map-get($generate-nav-css, scale) {
    #{am(nav,scale-right)} { @include mb-nav($common:false, $scale:true, $direction:right ); }
    #{am(content,scale-right)} { @include mb-content($common:false, $scale:true, $direction:right ); }
    .nav-scale-right { @include transform(scale(1)); }
    .scale-right { 
      @include mb-nav-scale-transform; 
      [am-nav-icon~="styled"] { @extend %mb-nav-icon-close; }
      .no-csstransforms & { right: $am-nav-width; }
    }
  }
}

@if map-get($generate-nav-css, top) {
  @if map-get($generate-nav-css, rotate) {
    #{am(nav,rotate-top)} { @include mb-nav($common:false, $rotate:true, $direction:top ); }
    .nav-rotate-top { @include transform(perspective(1000px) rotateX(0deg)); }
    .no-csstransforms3d .nav-rotate-top { display: block; }
  }
}

@if map-get($generate-nav-css, bottom) {
  @if map-get($generate-nav-css, rotate) {
    #{am(nav,rotate-bottom)} { @include mb-nav($common:false, $rotate:true, $direction:bottom ); }
    .nav-rotate-bottom { @include transform(perspective(1000px) rotateX(0deg)); }
    .no-csstransforms3d .nav-rotate-bottom { display: block; }
  }
}

@if map-get($generate-nav-css, move) {
  .nav-move-show { margin: 0; }
}
