// ======= article ======= //
$img-gutter: em(20);
$article-link-color: #0C97D2;
.article-content {
  figure {
    margin-bottom: $img-gutter;
    &.centered {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @at-root figcaption, .article-info {
    @include rem(font-size, 13);
    line-height: 1.4;
    margin: .5em 0;
    color: #676767;
  }
  @at-root .credit {
    @include rem(font-size, 11);
    color: #a5a5a5;
    margin: em(8, 11) 0;
  }
  p {
    @include rem(font-size, 17);
    line-height: 1.7;
    margin-bottom: 1.8em;
    color: #212121;
    font-family: Georgia, serif;
  }
  @at-root blockquote {
    margin: 0 2em 2em 1.5em;
    padding-left: 1.2em;
    line-height: 1.5;
    font-family: Georgia, serif;
    font-style: italic;
    color: #777;
    border-left: 2px solid #888;
    .auther { 
      color: #333; 
      text-transform: capitalize;
      margin-left: .5em; 
      // &:before {
      //  content: '_';
      // }
    }
  }
  p,
  figcaption,
  .article-info {
    a { color: $article-link-color;
      &:hover {
        color: darken($article-link-color, 10%);
        text-decoration: none;
      }
    }
  }
  @at-root .article-info {
    margin-bottom: em(30);
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 120px;
      height: 1px;
      background-color: #999;
      position: absolute;
      top: -8px;
      left: 0;
    }
  }
}
@media screen and (min-width: em(500)) {
  .article-content {
    figure {
      &.left,
      &.right { width: 250px; }
      &.left {
        float: left;
        margin-right: $img-gutter;
      }
      &.right {
        float: right;
        margin-left: $img-gutter;
      }
    }
  }
}