// ======= breadcrumb ======= //
$breadcrumb-font-size: 12 !default;
$breadcrumb-color: #212121 !default;
$breadcrumb-active-color: #b4b4b4 !default;
$breadcrumb-fw-bold: true !default;
$breadcrumb-uppercase: true !default;
$breadcrumb-gap-content: '/' !default;
$breadcrumb-gap-width: 1.2em !default;

#{am(breadcrumb)} {
  letter-spacing: -0.33em;
  li {
    letter-spacing: 0;
    display: inline-block;
    @include rem(font-size, $breadcrumb-font-size);
    @if $breadcrumb-uppercase {
      text-transform: uppercase;
    }
    @if $breadcrumb-fw-bold {
      font-weight: bold;
    }
    &:after {
      content: $breadcrumb-gap-content;
      width: $breadcrumb-gap-width;
      text-align: center;
      color: #b4b4b4;
      display: inline-block;
      font-weight: normal;
    }
  }
  a {
    color: $breadcrumb-color;
    @extend %hover-tdn;
    @extend %global-transition;
    &:hover { color: lighten($breadcrumb-color, 10%);}
  }
  .active {
    &:after {display: none;}
    a {
      color: $breadcrumb-active-color;
      cursor: default;
    }
  }
}