//csslint regex-selectors:false, known-properties:false, duplicate-properties:false
%row-common {
	letter-spacing: -0.33em; // Webkit: collapse white-space between units 
	@if $IE7 {
		*letter-spacing: normal; // reset IE < 8 
		*word-spacing: -0.43em; // IE < 8: collapse white-space between units 
	}
	text-rendering: optimizespeed; // Webkit: fixes text-rendering: optimizeLegibility 
	max-width: $row-w;
	margin-left: auto;
	margin-right: auto;
	.row & {
		margin-left: (-$block-gutter-w/2);
		margin-right: (-$block-gutter-w/2);
	}
	// Sets the font stack to fonts known to work properly with the above letter and word spacings. See: https://github.com/yui/pure/issues/41/

	// The following font stack makes Pure Grids work on all known environments.

	// FreeSans: Ships with many Linux distros, including Ubuntu

	// Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
	//  Arial to get picked up by the browser, even though neither is available in Chrome OS.

	// Droid Sans: Ships with all versions of Android.

	// Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
	
	// font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

	// Use flexbox when possible to avoid `letter-spacing` side-effects.

	// NOTE: Firefox (as of 25) does not currently support flex-wrap, so the `-moz-` prefix version is omitted.
	

	// display: -webkit-flex;
	// -webkit-flex-flow: row wrap;

	// IE10 uses display: flexbox 
	// display: -ms-flexbox;
	// -ms-flex-flow: row wrap;
	.opera-only :-o-prefocus,
	& {
		word-spacing: -0.43em;
	}
}
.row {
	@extend %row-common;
}

// Opera as of 12 on Windows needs word-spacing.
// The ".opera-only" selector is used to prevent actual prefocus styling and is not required in markup.

// .opera-only :-o-prefocus,
// .row {
// 	word-spacing: -0.43em;
// }

// Resets the font family back to the OS/browser's default sans-serif font, this the same font stack that Normalize.css sets for the `body`.

// .pure-g [class *= "pure-u"] {
//     font-family: sans-serif;
// }

%col-common {
	display: inline-block;
	@if $IE7 { 
		*display: inline; // IE < 8: fake inline-block 
		zoom: 1;
		word-spacing: normal;
	}
	letter-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
%grid-col {
	@extend %col-common;
	padding-left: ($gutter-w/2);
	padding-right: ($gutter-w/2);
}
%block-col {
	@extend %col-common;
	padding-left: ($block-gutter-w/2);
	padding-right: ($block-gutter-w/2);
}