// ======= pagination ======= //
$pagination-fz: 14 !default;
$pagination-a-padding: em(7, $pagination-fz) em(10, $pagination-fz) em(4, $pagination-fz) !default;
$pagination-color: #212121 !default;
$pagination-bg-color: #fff !default;
$pagination-hover-color: #fff !default;
$pagination-hover-bg-color: #212121 !default;
$pagination-ellipsis-color: #999 !default;
$pagination-text-align-center: true !default;
$pagination-prev: '◄' !default;
$pagination-next: '►' !default;

#{am(pagination)} {
  letter-spacing: -0.33em;
  @if $pagination-text-align-center {
    text-align: center;
  }
  li {
    letter-spacing: 0;
    display: inline-block;
    @include rem(font-size, $pagination-fz);
    margin-right: em(4, $pagination-fz);
    margin-bottom: em(4, $pagination-fz);
  }
  a {
    padding: $pagination-a-padding;
    border-radius: 3px;
    color: $pagination-color;
    background-color: $pagination-bg-color;
    @extend %global-transition;
    @extend %hover-tdn;
  }
  .active a, a:hover {
    color: $pagination-hover-color;
    background-color: $pagination-hover-bg-color;
  }
  .prev a:before { content: $pagination-prev; }
  .next a:before { content: $pagination-next; }
  .ellipsis a { 
    color: $pagination-ellipsis-color;
    cursor: default;
    &:hover {
      color: $pagination-ellipsis-color;
      background-color: $pagination-bg-color;
    }
  }
}