// ======= tooltip ======= //
$tooltip-bgc: #212121 !default;
$tooltip-border: false !default;
$tooltip-border-radius: 0.25em !default;
$tooltip-arrow-size: 6px !default;
$tooltip-width: 17em !default;
$alerts:(
  success: #3A945B,
  info: #2270C1,
  warning: #DE770F,
  alert: #DE2D0F
) !default;

#{am(tooltip)} {
  background-color: $tooltip-bgc;
  color: complementary($tooltip-bgc);
  position: absolute;
  z-index: nth($z-index, 4);
  @include rem(font-size, 12);
  padding: 6px 12px;
  line-height: 1.43;
  max-width: $tooltip-width;
  opacity: 0;
  -webkit-transition: opacity .4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: opacity .4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  @if $tooltip-border { border: $tooltip-border; }
  @if $tooltip-border-radius { border-radius: $tooltip-border-radius; }
  &:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: $tooltip-arrow-size;
    border-style: solid;
    border-color: transparent;
    position: absolute;
  }
}
.tooltip-show { opacity: 1; }
#{am(tooltip, left)},
#{am(tooltip, right)} {
  &:before {
    top: 50%;
    margin-top: - $tooltip-arrow-size;
  }
}
#{am(tooltip, top)},
#{am(tooltip, bottom)} {
  &:before {
    left: 50%;
    margin-left: - $tooltip-arrow-size;
  }
}
@each $direction in left, right, top, bottom {
  #{am(tooltip, $direction)}:before { border-#{$direction}-color: $tooltip-bgc;}
}
#{am(tooltip, left)}:before { right: - ($tooltip-arrow-size+6px); }
#{am(tooltip, right)}:before { left: - ($tooltip-arrow-size+6px); }
#{am(tooltip, top)}:before { bottom: - ($tooltip-arrow-size+6px); }
#{am(tooltip, bottom)}:before { top: - ($tooltip-arrow-size+6px); }

[data-tooltip]{ position: relative; }
@each $status, $color in $alerts {
  [data-tooltip~='#{$status}'] #{am(tooltip)} { background-color: $color;}
  [data-tooltip~='#{$status}'] #{am(tooltip, left)}:before { border-left-color: $color;}
  [data-tooltip~='#{$status}'] #{am(tooltip, right)}:before { border-right-color: $color;}
  [data-tooltip~='#{$status}'] #{am(tooltip, top)}:before { border-top-color: $color;}
  [data-tooltip~='#{$status}'] #{am(tooltip, bottom)}:before { border-bottom-color: $color;}
}