@media screen and (min-width: em(1024)) {
	#{am(visible,mb)},
	#{am(visible,tl)},
	#{am(hidden,dt)} { display: none !important; }
}

@media screen and (max-width: em(767)) {
	#{am(hidden,mb)},
  #{am(visible,tl)},
  #{am(visible,dt)} { display: none !important; }
}

@media screen and (min-width: em(768)) and (max-width: em(1023)) {
	#{am(hidden,tl)},
  #{am(visible,mb)},
  #{am(visible,dt)} { display: none !important; }
}

@mixin visible($min, $max:false, $media: false) {
  @if $media {
    @if $max {
      @if $min == 0 {
        @media screen and ( min-width: em($max + 1)) {
          & { display: none; }
        }      
      }
      @else {
        @media screen and ( min-width: em($max + 1)) {
          & { display: none; }
        }
        @media screen and ( max-width: em($min - 1)) {
          & { display: none; }
        }
      }
    }
    @else {
      @media screen and ( max-width: em($min - 1)) {
        & { display: none; }
      }      
    }
  }
  @else if $max {
    @if $min == 0 {
      @media screen and ( min-width: em($max + 1)) {
        & { display: none; }
      }      
    }
    @else {
      @media screen and ( min-width: em($max + 1)) {
        & { display: none; }
      }
      @media screen and ( max-width: em($min - 1)) {
        & { display: none; }
      }
    }
  }
  @else {
    @media screen and ( max-width: em($min - 1)) {
      & { display: none; }
    }      
  }
}

@mixin hidden($min, $max:false, $media: false) {
  @if $media {
    @if $max {
      @if $min == 0 {
        @media #{media} and ( max-width: em($max - 1)) {
          & { display: none; }
        }      
      }
      @else {
        @media #{media} and ( min-width: em($min)) and (max-width: em($max)) {
          & { display: none; }
        }
      }
    }
    @else {
      @media #{media} and ( min-width: em($min)) {
        & { display: none; }
      }
    }
  }
  @else if $max {
    @if $min == 0 {
      @media screen and ( max-width: em($max - 1)) {
        & { display: none; }
      }      
    }
    @else {
      @media screen and ( min-width: em($min)) and (max-width: em($max)) {
        & { display: none; }
      }
    }
  }
  @else {
    @media screen and ( min-width: em($min)) {
      & { display: none; }
    }
  }
}
