// module
//-----------------------------
// flex video
// ad
// article
// fixed-columns
// am-nav 
// nav-icon-styled
// breadcrumb 
// pagination 

// ======= flex video ======= //
@function ratio($width, $height) {
	@return percentage($height/$width);
}
#{am(flex-video)} {
	position: relative;
	padding-bottom: ratio(16,9);
	height: 0;
	overflow: hidden;
	margin-bottom: em(30);
	iframe, 
	object, 
	embed, 
	video {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}
#{am(fixed-video)} {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #222;
}

// ======= ad ======= //
.ad {
	text-align: center;
	margin-top: em(20);
	margin-bottom: em(20);
	&250,&300,&320,&400,&468,&728,&970 { margin-left: auto; margin-right: auto; }
	&250 {width: 250px; }
	&300 {width: 300px; }
	&320 {width: 320px; }
	&400 {width: 400px; }
	&468 {width: 468px; }
	&728 {width: 728px; }
	&970 {width: 970px; }
	&-bg { 
		padding-top: 1px;
		background-color: #eee;
		@extend %clearfix;
	}
	&-group {
		text-align: center;
		display: none;
		> * {
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
		}
	}
	&top { margin-bottom: 0; }
	&-combined { 
		background-color: #f2f2f2; 
		margin-bottom: em(20);
		@extend %clearfix;
	}
}
// ======= article ======= //
$img-gutter: em(20);
$article-link-color: #0C97D2;
.article-content {
	figure {
		margin-bottom: $img-gutter;
		&.centered {
			max-width: 640px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	@at-root figcaption, .article-info {
		@include rem(font-size, 13);
		line-height: 1.4;
		margin: .5em 0;
		color: #676767;
	}
	@at-root .credit {
		@include rem(font-size, 11);
		color: #a5a5a5;
		margin: em(8, 11) 0;
	}
	p {
		@include rem(font-size, 17);
		line-height: 1.7;
		margin-bottom: 1.8em;
		color: #212121;
		font-family: Georgia, serif;
	}
	@at-root blockquote {
		margin: 0 2em 2em 1.5em;
		padding-left: 1.2em;
		line-height: 1.5;
		font-family: Georgia, serif;
		font-style: italic;
		color: #777;
		border-left: 2px solid #888;
		.auther { 
			color: #333; 
			text-transform: capitalize;
			margin-left: .5em; 
			// &:before {
			// 	content: '_';
			// }
		}
	}
	p,
	figcaption,
	.article-info {
		a { color: $article-link-color;
			&:hover {
				color: darken($article-link-color, 10%);
				text-decoration: none;
			}
		}
	}
	@at-root .article-info {
		margin-bottom: em(30);
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 120px;
			height: 1px;
			background-color: #999;
			position: absolute;
			top: -8px;
			left: 0;
		}
	}
}
@media screen and (min-width: em(500)) {
	.article-content {
		figure {
			&.left,
			&.right { width: 250px; }
			&.left {
				float: left;
				margin-right: $img-gutter;
			}
			&.right {
				float: right;
				margin-left: $img-gutter;
			}
		}
	}
}

// ======= fixed-columns ======= //
@mixin fixed-col($direction, $aside, $gutter) {
	$total: ($aside + $gutter);
	@at-root (without: media) { @extend %clearfix; }
	@if $direction == right {
		padding-right: $total;
		> #{am(col-main)} {
			float: left;
			width: 100%;
		}
		> #{am(col-aside)} {
			float: right;
			width: $aside;
			margin-right: - $total;
		}
	}
	@else {
		padding-left: $total;
		> #{am(col-main)} {
			float: right;
			width: 100%;
		}
		> #{am(col-aside)} {
			float: left;
			width: $aside;
			margin-left: - $total;
		}
	}
}
@mixin fixed-col3($left, $right, $gutter) {
	$total-left: ($left + $gutter);
	$total-right: ($right + $gutter);
	@at-root (without: media) { @extend %clearfix; }
	padding-left: $total-left;
	padding-right: $total-right;
	> #{am(col-main)} { width: 100%; float: left; }
	> #{am(col-right)} {
		float: right;
		width: $right;
		margin-right: - $total-right;
	}
	> #{am(col-left)} {
		float: left;
		width: $left;
		margin-left: - $total-left;
	}
}

// ======= am-nav ======= //
$am-nav-color: #fff !default;
$am-nav-bg: #000 !default;
$am-nav-width: 200px !default;
// *** normal style ***
#{am(nav)} {
	position: fixed;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: $am-nav-color;
	background: $am-nav-bg;
	height: 100%;
	@if $z-index { z-index: nth($z-index, 1); } @else { z-index: 300; }
	@extend %global-transition;
	a { color: $am-nav-color;}
}
#{am(nav,move-left)},
#{am(nav,move-right)},
#{am(nav,translate-left)},
#{am(nav,translate-right)},
#{am(nav,reveal-left)},
#{am(nav,reveal-right)},
#{am(nav,rotate-left)},
#{am(nav,rotate-right)},
#{am(nav,scale-left)},
#{am(nav,scale-right)},
.no-csstransforms #{am(nav,scale-left)},
.no-csstransforms #{am(nav,scale-right)} {
	width: $am-nav-width;
	overflow-x: hidden;
	overflow-y: auto;
}
@each $direction in left, right {
	#{am(nav, move-#{$direction})},
	#{am(nav, translate-#{$direction})}, 
	#{am(nav, reveal-#{$direction})},
	#{am(nav, rotate-#{$direction})},
	#{am(nav, scale-#{$direction})} { 
		#{$direction}: 0; 
	}
	#{am(nav, move-#{$direction})},
	#{am(nav, translate-#{$direction})} { 
		margin-#{$direction}: -$am-nav-width; 
	}
	#{am(nav, rotate-#{$direction})} { 
		@include transform-origin(#{$direction} center);
	}
	#{am(nav, scale-#{$direction})} { 
		@include transform-origin(#{$direction} top);
	}
}
@each $direction in top, bottom {
	#{am(nav, rotate-#{$direction})} { 
		@include transform-origin(center #{$direction});
	}
}
#{am(nav, reveal-left)},
#{am(nav, reveal-right)},
#{am(nav, rotate-left)},
#{am(nav, rotate-right)},
.no-csstransforms #{am(nav, scale-left)},
.no-csstransforms #{am(nav, scale-right)} {
	@if $z-index { z-index: nth($z-index, 3); } @else { z-index: 100; }
}
#{am(nav, reveal-left)},
#{am(nav, reveal-right)} {
	margin: 0 !important; 
}
#{am(nav, rotate-top)},
#{am(nav, rotate-bottom)} { width: 100%; }
#{am(nav, rotate-left)} {
	@include transform(perspective(1000px) rotateY(90deg));
}
#{am(nav, rotate-right)} {
	@include transform(perspective(1000px) rotateY(-90deg));
}
#{am(nav, rotate-top)} {
	@include transform(perspective(1000px) rotateX(-90deg));
}
#{am(nav, rotate-bottom)} {
	@include transform(perspective(1000px) rotateX(90deg));
}
.no-csstransforms3d {
	#{am(nav, rotate-top)},
	#{am(nav, rotate-bottom)} {
		display: none;
	}
}
#{am(nav, scale-left)},
#{am(nav, scale-right)} {
	width: 70%;
	@include transform(scale(0)); 
	background: none;
}

#{am(content)} {
	@extend %global-transition;
	position: relative;
}
#{am(content, reveal-left)},
#{am(content, reveal-right)},
#{am(content, rotate-left)},
#{am(content, rotate-right)},
.no-csstransforms3d #{am(content, scale-left)},
.no-csstransforms3d #{am(content, scale-right)} {
	min-width: 320px;
	background-color: #fff;
	@if $z-index { z-index: nth($z-index, 2); } @else { z-index: 200; }
}
#{am(content, scale-left)},
#{am(content, scale-right)} {
	background-color: #fff;
	@include transform(scaleX(1));
}
#{am(content, scale-left)} {
	@include transform-origin(right top);
}
#{am(content, scale-right)} {
	@include transform-origin(left top);
}
@each $direction in left, right {
	#{am(content, translate-#{$direction})},
	#{am(content, reveal-#{$direction})},
	#{am(content, scale-#{$direction})},
	#{am(content, rotate-#{$direction})} { #{$direction}: 0; }
}

// *** active style ***
@each $direction in left, right {
	.translate-#{$direction},
	.reveal-#{$direction},
	.no-csstransforms .scale-#{$direction},
	.rotate-#{$direction} { #{$direction}: $am-nav-width; }
}
.scale-left,
.scale-right { @include transform(scaleX(.3)); }
.nav- {
	&move-show {margin: 0; }
	&rotate-left,
	&rotate-right { @include transform(perspective(1000px) rotateY(0deg)); }
	&rotate-top,
	&rotate-bottom { @include transform(perspective(1000px) rotateX(0deg)); }
	&scale-left,
	&scale-right { @include transform(scale(1)); }
}
.no-csstransforms3d {
	.nav- {
		&rotate-top,
		&rotate-bottom { display: block; }
	}
}
// *** am-nav-close ***
#{am(nav-close)},
#{am(nav-icon)} {cursor: pointer; }

// *** am-content-cover ***
#{am(content-cover)} {
	display: block;
	@include size(100%);
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	background-color: rgba(0,0,0,0);
	@extend %global-transition;
	.move-show &,
	.translate-left &,
	.translate-right &,
	.reveal-left &,
	.reveal-right &,
	.rotate-left &,
	.rotate-right &,
	.scale-left &,
	.scale-right &,
	.scale-right & {
		background-color: rgba(0,0,0,0.2);
		z-index: nth($z-index, 1);
		cursor: pointer;
	}
}

// *** mq ***
@include mq-min(450) {
	#{am(nav, scale-left)},
	#{am(nav, scale-right)} {width: 50%; }
	.scale-left,
	.scale-right { @include transform(scaleX(.5)); }
}
@include mq-min(640) {
	#{am(nav, scale-left)},
	#{am(nav, scale-right)} {width: 40%; }
	.scale-left,
	.scale-right { @include transform(scaleX(.6)); }
}
@include mq-min(800) {
	#{am(nav, scale-left)},
	#{am(nav, scale-right)} {width: 30%; }
	.scale-left,
	.scale-right { @include transform(scaleX(.7)); }
}
@include mq-min(1024) {
	#{am(nav, scale-left)},
	#{am(nav, scale-right)} {width: 25%; }
	.scale-left,
	.scale-right { @include transform(scaleX(.75)); }
}
@include mq-min(1200) {
	#{am(nav, scale-left)},
	#{am(nav, scale-right)} {width: 20%; }
	.scale-left,
	.scale-right { @include transform(scaleX(.8)); }
}

// ======= nav-icon-styled ======= //
$nav-icon-color: #333 !default;
$nav-icon-active-color: #fd5619 !default;
$nav-icon-bg-color: #fff !default;
$nav-icon-inverted: false !default;

%nav-icon-line {
	display: block;
	position: absolute;
	top: 15px;
	@include size(18 2);
	background-color: $nav-icon-color;
	@extend %global-transition;
}
#{am(nav-icon, styled)},
#{am(nav-icon-close, styled)} {
	display: inline-block;
	position: relative;
	padding: 10px 9px;
	@include size(18 12);
	background-color: $nav-icon-bg-color;
	box-sizing: content-box;
	cursor: pointer;
	@extend %global-transition;
	&:hover {
		span, &:before, &:after { background-color: $nav-icon-active-color;}
	}
	span {@extend %nav-icon-line; }
	&:before,
	&:after {content: ''; @extend %nav-icon-line; }
	&:before {margin-top: -5px; }
	&:after {margin-top: 5px; }
}
[am-nav-icon~="styled"].am-nav-icon-active,
#{am(nav-icon-close, styled)} {
	span { display: none; }
	&:before,
	&:after { 
		width: 20px; 
		margin-left: -1px; 
		margin-top: 0; 
		-webkit-transform-origin: center center; 
		-ms-transform-origin: center center; 
		transform-origin: center center; 
		.no-csstransforms & { display: none; }
	}
	&:before { 
		-webkit-transform: rotate(45deg); 
		-ms-transform: rotate(45deg); 
		transform: rotate(45deg); 
	}
	&:after { 
		-webkit-transform: rotate(-45deg); 
		-ms-transform: rotate(-45deg); 
		transform: rotate(-45deg); 
	}
	.no-csstransforms & { 
		@if $nav-icon-inverted {background: url('data:image/gif;base64,R0lGODlhEAAQAPAAAP///wAAACH5BAEAAAEALAAAAAAQABAAAAIoDIKpeOC7XHvQUHviZVtWj1WclIlYaZLmCH5Uq8BwqJVz4t3xg4pHAQA7') center center no-repeat; }
		@else {background: url('data:image/gif;base64,R0lGODlhEAAQAPEAAAAAABEREQAAAAAAACH5BAEAAAIALAAAAAAQABAAAAIpFISpeOC7XHvQUHviZVtWj1WclIlYaUqBOYIf5SpxHGolnXi4/KDiUQAAOw==') center center no-repeat; }
	}
}

// ======= breadcrumb ======= //
$breadcrumb-font-size: 12 !default;
$breadcrumb-color: #212121 !default;
$breadcrumb-active-color: #b4b4b4 !default;
$breadcrumb-fw-bold: true !default;
$breadcrumb-uppercase: true !default;
$breadcrumb-gap-content: '/' !default;
$breadcrumb-gap-width: 1.2em !default;

#{am(breadcrumb)} {
	letter-spacing: -0.33em;
	li {
		letter-spacing: 0;
		display: inline-block;
		@include rem(font-size, $breadcrumb-font-size);
		@if $breadcrumb-uppercase {
			text-transform: uppercase;
		}
		@if $breadcrumb-fw-bold {
			font-weight: bold;
		}
		&:after {
			content: $breadcrumb-gap-content;
			width: $breadcrumb-gap-width;
			text-align: center;
			color: #b4b4b4;
			display: inline-block;
			font-weight: normal;
		}
	}
	a {
		color: $breadcrumb-color;
		@extend %hover-tdn;
		@extend %global-transition;
		&:hover { color: lighten($breadcrumb-color, 10%);}
	}
	.active {
		&:after {display: none;}
		a {
			color: $breadcrumb-active-color;
			cursor: default;
		}
	}
}

// ======= pagination ======= //
$pagination-fz: 14 !default;
$pagination-a-padding: em(7, $pagination-fz) em(10, $pagination-fz) em(4, $pagination-fz) !default;
$pagination-color: #212121 !default;
$pagination-bg-color: #fff !default;
$pagination-hover-color: #fff !default;
$pagination-hover-bg-color: #212121 !default;
$pagination-ellipsis-color: #999 !default;
$pagination-text-align-center: true !default;
$pagination-prev: '◄' !default;
$pagination-next: '►' !default;

#{am(pagination)} {
	letter-spacing: -0.33em;
	@if $pagination-text-align-center {
		text-align: center;
	}
	li {
		letter-spacing: 0;
		display: inline-block;
		@include rem(font-size, $pagination-fz);
		margin-right: em(4, $pagination-fz);
		margin-bottom: em(4, $pagination-fz);
	}
	a {
		padding: $pagination-a-padding;
		border-radius: 3px;
		color: $pagination-color;
		background-color: $pagination-bg-color;
		@extend %global-transition;
		@extend %hover-tdn;
	}
	.active a, a:hover {
		color: $pagination-hover-color;
		background-color: $pagination-hover-bg-color;
	}
	.prev a:before { content: $pagination-prev; }
	.next a:before { content: $pagination-next; }
	.ellipsis a { 
		color: $pagination-ellipsis-color;
		cursor: default;
		&:hover {
			color: $pagination-ellipsis-color;
			background-color: $pagination-bg-color;
		}
	}
}









