/* setting
-----------------------------
setting for pure
site setting
*/

// setting for pure ======================
// generate css
$generate-grid: true !default;
$generate-grid-block: false !default;
$generate-checkbox: false !default;
// support IE7
$IE7: false !default;
// grid
$row-w: em(1200) !default;
$gutter-w: em(30) !default;
$block-gutter-w: $gutter-w;
$block-grid-number: 8 !default;
$sm: em(568) !default;
$md: em(768) !default;
$lg: em(1024) !default;
$xl: em(1280) !default;
// form
$focus-border-color: #129FEA !default;
$focus-invalid-color: #b94a48 !default;
$focus-invalid-border-color: #ee5f5b !default;
// button
$basic-color: #e6e6e6 !default;
$simply-border-color: #ddd !default;
$social: (
  facebook-like: #4660b5, 
  facebook: #39579a, 
  twitter: #23cbff, 
  pinterest: #df2109, 
  google: #567EF0, 
  google-plus: #DA4835, 
  linkedin: #005987, 
  rss: #EF922F, 
  email: #1D90DD, 
  primary: #0078E7
) !default;

// site setting ============================
// color
$blue: #1f4385;
$light-blue: #1e6bb5;
$red: #cc0000;
$yellow: #fca205;
$border-color: #e1e1e1;

// font-family
$ff-g: Georgia, serif;
$ff-a: Arial, serif;

%ff-header {
  font-family: $ff-g;
}
%ff-content {
  font-family: $ff-a;
}
%a-hover-tdn {
  &:hover { text-decoration: none; }
}
// font-size

// z-index
$z-index: 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100;
// transition
%globle-transition {
  @include transition(all .3s $ease-out-quart);
}
%li-style {
  padding-top: em(10);
  padding-bottom: em(10);
  border-top: 1px solid $border-color;
  :last-child { margin-bottom: 0; }
}
%img-left {
  @extend %clearfix;
  img {
    float: left;
    margin-right: em(13);
  }
}
%img-right {
  @extend %clearfix;
  img {
    float: right;
    margin-left: em(13);
  }
}
