// setting
//-----------------------------
// site
// pure
// module
// @mixins
// %-placeholder


// site -------------------------
// color
$text-color: #212121;
$blue: #1f4385;
$light-blue: #1e6bb5;
$red: #cc0000;
$yellow: #fca205;
$border-color: #e1e1e1;

// font-family
$ff-g: Georgia, serif;
$ff-a: Arial, serif;

// font-size

// z-index
$z-index: 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100;
// transition
%global-transition {
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

// pure -----------------------
// generate css
$generate-grid: true !default;
$generate-grid-block: false !default;
$generate-checkbox: false !default;
// support IE7
$IE7: false !default;
// grid
$grid-number: 12 !default;
$row-w: em(1200) !default;
$gutter-w: em(30) !default;
$block-grid-number: 8 !default;
$block-gutter-w: $gutter-w !default;
$sm: em(568) !default;
$md: em(768) !default;
$lg: em(1024) !default;
$xl: em(1280) !default;
// form
$focus-border-color: #129FEA !default;
$focus-invalid-color: #b94a48 !default;
$focus-invalid-border-color: #ee5f5b !default;
// button
$basic-color: #e6e6e6 !default;
$simply-border-color: #ddd !default;
$social: (
  facebook-like: #4660b5, 
  facebook: #39579a, 
  twitter: #23cbff, 
  pinterest: #df2109, 
  google: #567EF0, 
  google-plus: #DA4835, 
  linkedin: #005987, 
  rss: #EF922F, 
  email: #1D90DD, 
  primary: #0078E7
) !default;


// module ---------------------
$sidebar-horizontal-w: 200px;
$sidebar-vertical-h: 40px;
$menu-color:#000;
$menu-active-color: #fd5619;
$menu-bg-color: #fff;
$menu-inverted: false;

// breadcrumb 
$breadcrumb-font-size: 12;
$breadcrumb-color: #212121;
$breadcrumb-active-color: #b4b4b4;
$breadcrumb-fw-bold: true;
$breadcrumb-uppercase: true;
$breadcrumb-gap-content: '/';
$breadcrumb-gap-width: 1.2em;

// pagination
$pagination-fz: 14;
$pagination-a-padding: em(7, $pagination-fz) em(10, $pagination-fz) em(4, $pagination-fz);
$pagination-color: #212121;
$pagination-bg-color: #fff;
$pagination-hover-color: #fff;
$pagination-hover-bg-color: #212121;
$pagination-ellipsis-color: #999;
$pagination-text-align-center: true;
$pagination-prev: '◄'; // ←
$pagination-next: '►'; // →

// @mixins ----------------------
@mixin replace($old-context, $contexts...) {
  @each $context in $contexts {
    @at-root #{selector-replace(&, $old-context, $context)} {
      @content;  
    }
  }  
}

// %-placeholder -----------------
%ff-header {font-family: $ff-g; }
%ff-content {font-family: $ff-a; }
%hover-tdn {&:hover { text-decoration: none; } }
%li-style {
  padding-top: em(10);
  padding-bottom: em(10);
  border-top: 1px solid $border-color;
  :last-child { margin-bottom: 0; }
}
%img-left, %img-right { @extend %clearfix; }
%img-left img {float: left; margin-right: em(15); }
%img-right img {float: right; margin-left: em(15); }
%justify {
  text-align: justify;
  line-height: 0;
  margin-bottom: -5px;
  > li, > div, > span {
    line-height: 1;
    display: inline-block;
  }
  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}