// variables
//-----------------------------
// font
// color
// z-index
// transition


// font
$ff-g: Georgia, serif;
$ff-a: Arial, serif;

// color
$text-color: #212121;
$blue: #1f4385;
$light-blue: #1e6bb5;
$red: #cc0000;
$yellow: #fca205;
$border-color: #e1e1e1;

// z-index
$z-index: 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100;

// transition
$global-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);


