/* typography
-----------------------------
basic typography
base size
lists 
tables
margins & padding
text classes
*/

// basic typography
cite, em, dfn { font-style: italic; }
del { text-decoration: line-through; color: #666; }
ins, dfn { border-bottom: 1px solid #ccc; }
abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
a {
	text-decoration: none;
	color: #212121;
	&:hover { 
		text-decoration: underline; 
	}
}
// code, pre { color: #c33; } // very optional, but still useful. w3c uses about the same colors for codes
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

// base size
h1 { @include rem(font-size, 36); }
h2 { @include rem(font-size, 25); }
h3 { @include rem(font-size, 19); }
h4 { @include rem(font-size, 14); }
h5 { @include rem(font-size, 23); }
h6 { @include rem(font-size, 19); }
p { @include rem(font-size, 13); }

h1 { line-height: 1.2; }
h2 { line-height: 1.2; }
h3 { line-height: (24/19); }
h4 { line-height: (18/14); }
h5 { line-height: 1.2; }
h6 { line-height: 1.3; }
p { line-height: 1.4; }

// lists
// ul li { margin-left: .85em; }
// ul { list-style-type: disc; }
// ul ul { list-style-type: square; }
// ul ul ul { list-style-type: circle; }
// ol { list-style-position: outside; list-style-type: decimal; }
// dt { font-weight: bold; }

// tables
// table { border-top: 1px solid #ccc;  border-left: 1px solid #ccc; }
// th, td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }

// margins & padding 
hr, p, pre, address, table, form { margin-bottom: 1.6em; margin-top: 0; }
h1 { margin-bottom: 1em;  }
h2 { margin-bottom: .5em; }
h3 { margin-bottom: 1.14em; }
h4 { margin-bottom: 1.23em; }
h5 { margin-bottom: .5em; }
h6 { margin-bottom: 1.6em; }
th, td { padding: .8em; }
caption { padding-bottom: .8em; } // padding instead of margin for ie
fieldset { 
	padding: 0 1em 1em 1em; 
	margin: 1.6em 0; 
} // padding-top is margin-top for fieldsets in opera
dt { 
	margin-top: .8em; 
	margin-bottom: .4em; 
}


// text classes
.caps { 
	font-variant: small-caps; // small caps 
	letter-spacing: 1px; 
	text-transform: uppercase; 
	@include rem(font-size, 14); 
	font-weight: normal; 
	padding: 0 2px; 
}
.small { font-size:.8em; }
.large {
	font-size:1.2em;
	line-height:2.5em;
	margin-bottom:1.25em;
}
.hide { display:none; }
.quiet { color:#666; }
.loud { color:#000; }
.highlight { background:#ff0; }
.top { 
	margin-top:0;
	padding-top:0;
}
.bottom {
	margin-bottom:0;
	padding-bottom:0;
}
.light-header { font-weight: normal; }
.thin { font-weight: lighter; }
.center { text-align: center; }
